In [2]:
print("Hello World!")

Hello World!

In [3]:
import pandas as pd
day=pd.read_csv("day.csv",sep=None)

C:\Users\godwi\AppData\Local\Temp\ipykernel_5048\324229981.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  day=pd.read_csv("day.csv",sep=None)

In [4]:
day.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [5]:
day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [6]:
day.describe().round(2).T

            count     mean      std    min      25%      50%      75%      max
instant     731.0   366.00   211.17   1.00   183.50   366.00   548.50   731.00
season      731.0     2.50     1.11   1.00     2.00     3.00     3.00     4.00
yr          731.0     0.50     0.50   0.00     0.00     1.00     1.00     1.00
mnth        731.0     6.52     3.45   1.00     4.00     7.00    10.00    12.00
holiday     731.0     0.03     0.17   0.00     0.00     0.00     0.00     1.00
weekday     731.0     3.00     2.00   0.00     1.00     3.00     5.00     6.00
workingday  731.0     0.68     0.47   0.00     0.00     1.00     1.00     1.00
weathersit  731.0     1.40     0.54   1.00     1.00     1.00     2.00     3.00
temp        731.0     0.50     0.18   0.06     0.34     0.50     0.66     0.86
atemp       731.0     0.47     0.16   0.08     0.34     0.49     0.61     0.84
hum         731.0     0.63     0.14   0.00     0.52     0.63     0.73     0.97
windspeed   731.0     0.19     0.08   0.02     0.13     0.18     0.23     0.51
casual      731.0   848.18   686.62   2.00   315.50   713.00  1096.00  3410.00
registered  731.0  3656.17  1560.26  20.00  2497.00  3662.00  4776.50  6946.00
cnt         731.0  4504.35  1937.21  22.00  3152.00  4548.00  5956.00  8714.00

In [7]:
hour=pd.read_csv("hour.csv",sep=None)

C:\Users\godwi\AppData\Local\Temp\ipykernel_5048\1002244864.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  hour=pd.read_csv("hour.csv",sep=None)

In [8]:
hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [9]:
hour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [10]:
hour.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
instant,17379.0,8690.00,5017.03,1.00,4345.50,8690.00,13034.50,17379.00
season,17379.0,2.50,1.11,1.00,2.00,3.00,3.00,4.00
yr,17379.0,0.50,0.50,0.00,0.00,1.00,1.00,1.00
mnth,17379.0,6.54,3.44,1.00,4.00,7.00,10.00,12.00
hr,17379.0,11.55,6.91,0.00,6.00,12.00,18.00,23.00
holiday,17379.0,0.03,0.17,0.00,0.00,0.00,0.00,1.00
weekday,17379.0,3.00,2.01,0.00,1.00,3.00,5.00,6.00
workingday,17379.0,0.68,0.47,0.00,0.00,1.00,1.00,1.00
weathersit,17379.0,1.43,0.64,1.00,1.00,1.00,2.00,4.00
temp,17379.0,0.50,0.19,0.02,0.34,0.50,0.66,1.00
atemp,17379.0,0.48,0.17,0.00,0.33,0.48,0.62,1.00
hum,17379.0,0.63,0.19,0.00,0.48,0.63,0.78,1.00
windspeed,17379.0,0.19,0.12,0.00,0.10,0.19,0.25,0.85
casual,17379.0,35.68,49.31,0.00,4.00,17.00,48.00,367.00
registered,17379.0,153.79,151.36,0.00,34.00,115.00,220.00,886.00
cnt,17379.0,189.46,181.39,1.00,40.00,142.00,281.00,977.00

In [11]:
hourly=pd.read_csv("CBS_2021-2023_Hourly_Weather.csv", sep=None)

C:\Users\godwi\AppData\Local\Temp\ipykernel_5048\1056344987.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  hourly=pd.read_csv("CBS_2021-2023_Hourly_Weather.csv", sep=None)

In [12]:
hourly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Casual                   26269 non-null  float64
 1   Date                     26280 non-null  object
 2   Hour                     26280 non-null  int64
 3   Member                   26269 non-null  float64
 4   Total_rides              26269 non-null  float64
 5   relativehumidity_2m (%)  26280 non-null  int64
 6   temperature_2m (°C)      26280 non-null  float64
 7   weathercode (wmo code)   26280 non-null  int64
 8   windspeed_10m (km/h)     26280 non-null  float64
dtypes: float64(5), int64(3), object(1)
memory usage: 1.8+ MB

In [13]:
hourly.head()

,Casual,Date,Hour,Member,Total_rides,relativehumidity_2m (%),temperature_2m (°C),weathercode (wmo code),windspeed_10m (km/h)
0,20.0,2021-01-01,0,26.0,46.0,90,2.4,1,10.2
1,23.0,2021-01-01,1,23.0,46.0,88,1.8,1,10.0
2,20.0,2021-01-01,2,28.0,48.0,87,1.1,2,10.1
3,9.0,2021-01-01,3,7.0,16.0,81,1.6,2,10.6
4,7.0,2021-01-01,4,5.0,12.0,77,1.6,2,9.9

In [14]:
hourly.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
Casual,26269.0,159.93,167.33,0.0,28.00,105.0,237.00,1206.0
Hour,26280.0,11.50,6.92,0.0,5.75,11.5,17.25,23.0
Member,26269.0,247.17,225.28,0.0,55.00,203.0,371.00,1534.0
Total_rides,26269.0,407.10,373.01,1.0,85.00,319.0,616.00,2262.0
relativehumidity_2m (%),26280.0,62.97,22.72,5.0,46.00,64.0,82.00,100.0
temperature_2m (°C),26280.0,14.41,10.29,-14.6,6.10,14.8,22.70,41.5
weathercode (wmo code),26280.0,7.23,17.63,0.0,0.00,1.0,2.00,75.0
windspeed_10m (km/h),26280.0,10.17,5.26,0.0,6.50,9.2,12.90,40.1

In [15]:
daily=pd.read_csv("CBS_2021-2023_Daily_Weather.csv", sep=None)

C:\Users\godwi\AppData\Local\Temp\ipykernel_5048\2304122296.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  daily=pd.read_csv("CBS_2021-2023_Daily_Weather.csv", sep=None)

In [16]:
daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Casual                          1095 non-null   int64
 1   Date                            1095 non-null   object
 2   Member                          1095 non-null   int64
 3   Total_rides                     1095 non-null   int64
 4   apparent_temperature_mean (°C)  1095 non-null   float64
 5   temperature_2m_mean (°C)        1095 non-null   float64
 6   weathercode (wmo code)          1095 non-null   int64
 7   windspeed_10m_max (km/h)        1095 non-null   float64
dtypes: float64(3), int64(4), object(1)
memory usage: 68.6+ KB

In [17]:
daily.head()

,Casual,Date,Member,Total_rides,apparent_temperature_mean (°C),temperature_2m_mean (°C),weathercode (wmo code),windspeed_10m_max (km/h)
0,371,2021-01-01,590,961,-0.9,2.3,63,10.6
1,2874,2021-01-02,2844,5718,4.8,7.6,61,19.1
2,495,2021-01-03,1133,1628,0.9,3.9,63,13.0
3,907,2021-01-04,2074,2981,1.0,4.1,3,13.3
4,1057,2021-01-05,2004,3061,1.4,4.0,51,9.2

In [18]:
daily.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
Casual,1095.0,3836.72,2114.90,174.0,2122.00,3595.0,5321.00,12839.0
Member,1095.0,5929.49,2419.27,323.0,4292.50,5848.0,7577.00,12580.0
Total_rides,1095.0,9766.21,4129.63,497.0,6741.50,9759.0,13020.00,20174.0
apparent_temperature_mean (°C),1095.0,12.84,11.89,-15.2,2.70,13.1,23.40,34.7
temperature_2m_mean (°C),1095.0,14.41,9.67,-9.1,6.25,14.9,22.75,34.7
weathercode (wmo code),1095.0,24.39,27.77,0.0,1.00,3.0,53.00,75.0
windspeed_10m_max (km/h),1095.0,16.05,5.88,5.6,11.70,14.7,19.40,40.1