In [1]:
import pandas as pd
import numpy as np
import matplotlib as pylt
import seaborn as sns

## Loading Full Data set

In [6]:
"""
Full  dataset for 2021-2023. This contains information about every ride.
"""

'""\nFull  dataset for 2021-2023. This contains information about every ride.\n'

In [2]:
# loading csv file
full=pd.read_csv("CBS_2021-2023_Full.csv", sep=",")

C:\Users\godwi\AppData\Local\Temp\ipykernel_12276\580971983.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  full=pd.read_csv("CBS_2021-2023_Full.csv", sep=",")

In [4]:
full.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member

In [7]:
# getting summary of the Dataset
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10693997 entries, 0 to 10693996
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 1.0+ GB

In [9]:
full.describe().round(2).T

                count   mean   std    min    25%    50%    75%    max
start_lat  10693995.0  38.90  0.03  38.76  38.89  38.90  38.91  39.14
start_lng  10693995.0 -77.03  0.03 -77.40 -77.04 -77.03 -77.01 -76.82
end_lat    10677232.0  38.90  0.05   0.00  38.89  38.90  38.91  39.19
end_lng    10677232.0 -77.03  0.09 -77.56 -77.04 -77.03 -77.01   0.00